.shokhrukh{
    font-size: 50px;
    text-align: center;
    font-family: cursive;
    color: red;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid red;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}


.asatillo{
    font-size: 50px;
    text-align: center;
    font-family: cursive;
    color: lightgreen;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgreen;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.muhammadsolih{
    font-size: 50px;
    text-align: center;
    font-family: cursive;
    color: lightgreen;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgreen;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.asatillo{
    font-size: 50px;
    text-align: center;
    font-family: cursive;
    color: lightgreen;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgreen;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
